.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1000;
}

.nav-link.active {
  background-color: rgba(98, 75, 75, 0.2);
  font-weight: bold;
  border-radius: 4px;
}
